/*
my desktop version
*/
.desktop
{
    widows: 100%;
    height: 500px;
    background-image: url(image1.jpg);
    background-position: center 0;
    margin: 0;
    padding: 0;
    }
.desktop p{
    color: white;
    font-size: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.desktop ul{
    width: 75%;
    height: 500px;
    box-shadow: 20px rgba(0,0,0.14);
    cursor: pointer;
    list-style: none;
}
.desktop ul li{
    width: 20%;
    line-height: 20px;
    text-align: center;
    float: left;
}





.desktop ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.mobile{
display: none;
}
/*
mobile version
*/
@media screen and (max-width:700px){
    .mobile{
        display: block;
        background-image: url(images.jpeg);
        background-position: 0 center;
    }
    .desktop{
        display: none;
        box-shadow: 0 2px 2px 0 rgba(0,0,0.14);
    }
    .mobile ul{
        width: 75%;
        list-style: none;
    }
    .mobile ul li{
        text-align:center;
        width: 100%;
        padding: 10px;

    }
    .mobile ul li a{
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
    .navbar ul li a:hover{
        background: #a3ada5;
    }
}
/*
general
*/
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: lighter;
    padding: 1px;
    margin: 2px;
    
}
h1{
    font-weight: lighter;
}

#Hello_world div{
    width: 50%;
    height: 50%vh;
    background-color: lightpink;
}
main{
    padding: 10%;
}
